$white: rgb(255, 255, 255);
$black: rgb(66, 66, 66);
$light-grey: rgb(230, 230, 230);
$grey: rgb(210, 210, 210);
$dark-grey: rgb(150, 150, 150);
$red: rgb(255, 50, 100);

$primary-color: rgb(255, 133, 152);
$secondary-color: $primary-color;
