.file-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.file-list__item {
    display: table;
    padding: 0.5em;
    width: 100%;
}

.file-list__item:nth-child(2n) {
    background-color: lighten($primary-color, 22%);
}

.file-list__thumbnail,
.file-list__text,
.file-list__size,
.file-list__button {
    display: table-cell;
    vertical-align: middle;
}

.file-list__thumbnail {
    width: 10%;
}

.file-list__text {
    width: 60%;
    word-break: break-word;
}

.file-list__size {
    width: 25%;
}

.file-list__button {
    width: 5%;
}
