$body-copy-font-stack: 'Source Sans Pro', sans-serif;
$heading-font-stack: 'Source Sans Pro', sans-serif;

body {
    font-family: $body-copy-font-stack;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-stack;
    margin: 0;
}

h1,
.primary-heading {
    font-size: 2em;
}

h2,
.secondary-heading {
    font-size: 1.8em;
}

h3,
.tertiary-heading {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.2em;
}

.text--important {
    font-size: 1.2em;
}
